/* Base styles from shared UI package */
@import "../../ui/src/styles/index.css";
/* @import "@packages/ui/styles/index.css"; */

/* Fumadocs theme */
/* https://www.fumadocs.dev/docs/ui/theme */
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
	--default-border-width: 1px;
}

/* Sidebar customizations */
#nd-docs-layout {
	--fd-layout-width: 100vw;
	--fd-sidebar-width: 280px;
}

/* CUSTOM_FIX: Sidebar footer padding */
aside .border-t:has([data-theme-toggle]) {
	padding: 12px 16px !important;
}

/* Make sidebar buttons smaller (32px height instead of 36px) */
aside a[data-active] {
	@apply py-1.5;
}

/* Make sidebar section labels font-medium */
aside p.inline-flex.items-center:has(span) {
	@apply font-medium text-fd-primary text-xs;
}
